.row-style{
    border: none;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(233, 241, 232);
    width: 500px;
    height: min-content;
    
}

.imageThumbnail{
    height: 250px;
    width: 250px;
}