.nav-bar {
    list-style: none;
    margin: 5px;
    padding-left: 200px;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
  .nav-image{
      height: 50px;
      width: 200px;
  }